#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: "VolvoNovum";
  src: url("./fonts/VolvoNovumLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VolvoNovumMedium";
  src: url("./fonts/VolvoNovumMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VolvoBroad";
  src: url("./fonts/VolvoBroad.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "VolvoNovum", sans-serif;
}

.card {
  padding: 2em;
}
